@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@300;600&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: "Fraunces", serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.hamburgur {
  background-color: #CB7B29 !important;
  outline: none;
}

.mainContainer {
  line-height: 8rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))) #353846;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) #353846;
}

.mainContainer .navbar-brand {
  color: #fff;
  font-weight: 600;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainContainer .navbar-brand .fas {
  font-size: 3.5rem;
  margin-right: 1rem;
  -webkit-animation: rotate 8s linear infinite;
          animation: rotate 8s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.mainContainer .navbar-nav {
  padding-left: 12rem;
}

.mainContainer .navbar-nav .nav-item .nav-link {
  font-size: 1.6em;
  text-transform: capitalize;
  padding-right: 4rem;
  color: #fff;
}

.mainContainer .navbar-nav .nav-item:last-child > a {
  padding-right: 0%;
}

.mainContainer .my-btn {
  padding: 0.8rem 3.2rem;
  background: #CB7B29;
  line-height: 3rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
  border: none;
  -webkit-box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 4.5rem;
  outline: none;
  cursor: pointer;
}

.mainContainer .my-btn:hover {
  background-color: #fff;
  -webkit-box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
          box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
  color: #353846;
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

.mainContainer .nav-item:hover > .nav-link,
.mainContainer .navbar-brand:hover {
  color: #CB7B29;
}

.hero {
  height: 84vh;
  background-color: #353846;
}

.hero__caption {
  height: 80vh;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__caption h2 {
  font-size: 7rem;
  margin-bottom: 3rem;
  line-height: 120%;
  font-weight: 600;
}

.hero__caption h2 span {
  color: #CB7B29;
  text-transform: capitalize;
}

.hero__caption p {
  font-size: 1.8rem;
  margin-bottom: 5rem;
}

.hero__caption-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__caption-btn a {
  padding: 0.8rem 3.2rem;
  background: #CB7B29;
  line-height: 3rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
  border: none;
  -webkit-box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 4.5rem;
  outline: none;
  cursor: pointer;
}

.hero__caption-btn a:hover {
  background-color: #fff;
  -webkit-box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
          box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
  color: #353846;
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

.hero__caption-btn #btn-2 {
  margin-left: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.hero__caption-btn #btn-2:hover {
  background-color: #fff;
  -webkit-box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
          box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
  color: #353846;
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

.hero__img {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: updown 7s linear infinite alternate;
          animation: updown 7s linear infinite alternate;
}

@-webkit-keyframes updown {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes updown {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.hero__img img {
  -webkit-filter: drop-shadow(0 1.9rem 0.4rem rgba(0, 0, 0, 0.8));
          filter: drop-shadow(0 1.9rem 0.4rem rgba(0, 0, 0, 0.8));
}

.hero2 {
  background-color: #fff;
}

.hero2__caption {
  margin-top: 3rem;
  color: #353846;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero2__caption h2 {
  font-size: 7rem;
  margin-bottom: 3rem;
  line-height: 120%;
  font-weight: 600;
}

.hero2__caption h2 span {
  color: #CB7B29;
  text-transform: capitalize;
}

.hero2__caption p {
  font-size: 1.8rem;
  margin-bottom: 5rem;
}

.hero2__caption-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

.hero2__caption-btn a {
  padding: 0.8rem 3.2rem;
  background: #CB7B29;
  line-height: 3rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
  border: none;
  -webkit-box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 4.5rem;
  outline: none;
  cursor: pointer;
  width: 85.8%;
  text-align: center;
}

.hero2__caption-btn a:hover {
  background-color: #353846;
  -webkit-box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 11, 0.4);
          box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 11, 0.4);
  color: #fff;
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

.hero2__img {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero3 {
  background-color: #353846;
}

.hero3 #card {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.hero3 #card .card-body > .card-text {
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  html {
    font-size: 60%;
  }
  .mainContainer {
    line-height: 5rem;
    text-align: center;
    padding-right: 0 2rem;
  }
  .mainContainer .navbar-nav {
    padding-left: 0%;
  }
  .mainContainer .navbar-nav .nav-item .nav-link {
    padding-right: 0%;
  }
  .navbar .navbar-toggler {
    color: #fff;
  }
  .hero {
    height: 92vh;
  }
  .hero__caption {
    height: 92vh;
  }
  .hero__caption h2 {
    line-height: 100%;
    font-size: 5.6rem;
  }
  .hero2__caption h2 {
    font-size: 4.5rem;
  }
  .hero__caption-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .hero__caption-btn #btn-2 {
    margin-left: 0rem;
    margin-top: 2rem;
  }
  .hero__img {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */